button {
    border: none;
    border-radius: 4px;
    height: 40px;
    min-width: 140px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px 3px #0002;

    &:hover {
        filter: brightness(85%);
    }
}

.type1 {
    background-color: #063d5e;
    color: white;
}

.type2 {
    background-color: transparent;
    box-shadow: none;

    &:hover {
        background-color: #fff;
    }
}