.card-info {
  width: 250px;
  height: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #0001;

  h1 {
    font-size: 18px;
  }

  span {
    font-size: 24px;
  }

  .hidden {
    color: #888;
  }
}